$darkredish: darkred;
$lightredish: #d90000;
$goldish: darkgoldenrod;

$general-color-primary: $darkredish;
$general-color-secondary: $darkredish;

$button-color-primary: $goldish;
$button-color-secondary: $darkredish;
$button-color-inactive: rgba(0, 0, 0, 0.6);