////////////////////////////////////////////////////////////////////////////////
// This is the Sass file that allows you to build a custom login-styled page that
// matches your brand/site colors. These are some starter styles, so feel free to
// add/remove whatever suits your project needs. Errors? Pull requests are welcome!
// https://github.com/australiansteve/dessertstorm/issues
////////////////////////////////////////////////////////////////////////////////

// Page background color/image
body.login {
	background: #fff;
}

#login h1 a, .login h1 a {
	background-size: 100%;
	height: 180px;
	width: inherit;
}

// Login button styling
#wp-submit {
	background: #d90000;
	border: none;
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
	text-transform: uppercase;
	transition: all 300ms ease-in-out;

  &:hover {
    background: darken(#d90000, 10%);
    border: none;
    box-shadow: none;
  }
}

// Text styling for 'lost your password'
.login #nav a {
	color: #72777c;

  &:hover {
    color: #72777c;
  }
}

// Text styling for 'back to home'
.login #backtoblog a {
	color: #72777c;

  &:hover {
    color: #72777c;
  }
}

.login #login_error {
    border-left: 4px solid #d90000;
}

.login .message {
    border-left: 4px solid darkgoldenrod;
}