
@font-face {
	font-family: 'Ailerons';
	src: url("../fonts/Ailerons-Typeface.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Montserrat Light';
	src: url("../fonts/Montserrat-Light.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Montserrat Regular';
	src: url("../fonts/Montserrat-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
