
@font-face {
	font-family: 'Avenir Light';
	src: url("../fonts/avenir-light.eot#iefix") format("eot"), url("../fonts/avenir-light.woff2") format("woff2"), url("../fonts/avenir-light.woff") format("woff"), url("../fonts/avenir-light.ttf") format("truetype"), url("../fonts/avenir-light.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Fairfield Light';
	src: url("../fonts/fairfield-light.eot#iefix") format("eot"), url("../fonts/fairfield-light.woff2") format("woff2"), url("../fonts/fairfield-light.woff") format("woff"), url("../fonts/fairfield-light.ttf") format("truetype"), url("../fonts/fairfield-light.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Neou Thin';
	src: url("../fonts/Neou-Thin.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Neou Bold';
	src: url("../fonts/Neou-Bold.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lobster';
	src: url("../fonts/Lobster_1.3.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Pro';
	src: url("../fonts/FuturaLTPro-Book.ttf");
	font-weight: normal;
	font-style: normal;
}
