
.primary-navigation {
	background: none;
}

.primary-navigation ul li > a {
    font-size: 1rem;
}

.menu .active > a {
	color: inherit;
    background: #CCCCCC;
}

.menu>li>a i {
    margin-bottom: 0.25rem;
}


/* Small screens only */
@media only screen and (max-width: 40em) { 

	.primary-navigation {
		background: none;
		padding: 0;
	}
	
}

// Medium screens
@media only screen and (min-width: 40.063em) { 

	.primary-navigation {

		ul li > a {
			text-transform: uppercase;
			padding: 0.3rem 0.4rem;
    		font-size: 0.8rem;
		}

		ul {
			display: inline-block;
		}

	}

	.menu .active > a {
	    background: none;
	    border-bottom: 1px solid black;
	}

}


// Large screens
@media only screen and (min-width: 64.063em) { 

	.primary-navigation {

		ul li > a {
    		font-size: 1rem;
		}

	}

}