// Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

p {
	margin: 0;
}

h1 {
	font-size: 2rem;
	font-weight: 700;
}

h1.entry-title {
	margin-top: 2rem;
}

h2 {
	font-size: 1.25rem;
	font-weight: 700;
}
