a {
	color: $black;
}

a:hover, a:active {
	color: rgba(0, 0, 0, 0.7);
}

#primary.index .row.content-section {
	max-width: none; /* Full width for background colour effect */
}

#primary.index .content-section>.content-container {
	max-width: 75rem;
	margin: auto;
}

#primary.index .content-section>.content-container>.row {
	margin-left: 0;
	margin-right: 0;
}

nav.post-navigation {

	.nav-links>div{
		display: inline-block;
    	width: 50%;
	}

	.nav-links .nav-previous {
		text-align: left;
		float: left;
	}

	.nav-links .nav-next {
		text-align: right;
		float: right;
	}
}