#masthead {
	
}

.site-title {
	font-size: 3rem;
}

.site-description {
	margin-bottom: 1.25rem;
}

.main-navigation ul {
	margin: 0;
}

#background-div.fixed {
    z-index: -10;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.fixed .bgImage {
    background-position: 50% 100%;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}

#background-div.scrolling {
    z-index: -10;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.scrolling .bgImage {
    background-position: 50% 0%;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -10;
}

.scrolling #bgImage1 {
    background-repeat: repeat-y;
}

.header.sticky-container {
    background: rgba(0,0,0,1);
    opacity: 1;
}

.title-bar {
    background: rgba(0,0,0,1);
    padding: 0;
}

.sticky.is-stuck.is-at-top {
    background-color: rgba(0,0,0,1);
    opacity: 1;
}

.site-title {
    font-size: 2rem; 
}

#small-menu-container {
    
}

#medium-menu-container {
    margin-top: 2.5rem;
}

#large-menu-container {
    margin-top: 2.75rem;
}

.centered-layout.header, .centered-layout.menu-bar {
    text-align: center;
}

.centered-layout.menu-bar ul {
    display: inline-block;
}

/* Medium and up */
@media screen and (min-width: 40em) {
  
    .fixed .bgImage {
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-position: 90% 50%;
    }
}