#masthead {
	
}

.site-title {
	font-size: 3rem;
}

.site-description {
	margin-bottom: 1.25rem;
}

.main-navigation ul {
	margin: 0;
}

#background-div {
    z-index: -10;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.bgImage {
    background-position: 50% 100%;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}

.header.sticky-container {
    background: rgba(255, 255, 255, 0.75);
}

.title-bar {
    background: rgba(255, 255, 255, 0.75);
}

.sticky.is-stuck.is-at-top {
    background-color: rgba(255, 255, 255, 0.75);
}

.site-title {
    font-size: 2rem; 
}

#small-menu-container {
    background: rgba(255, 255, 255, 0.75);
}

#medium-menu-container {
    margin-top: 2.5rem;
}

#large-menu-container {
    margin-top: 2.75rem;
}