.entry-meta {
	margin-bottom: 1.25rem;
}

.updated {
	display: none;
}

.vcard {
	display: inherit;
	padding: 0;
	border: none;
	margin: 0;
}

.vcard .fn {
	font-weight: normal;
	font-size: 1rem;
}

.entry-content {

	p {
		margin-bottom: 2rem;
	}

	ul {
	    text-align: justify;
	    max-width: 30rem;
	    margin: auto;

	    li {
	    	margin-bottom: 1rem;
	    }
	}

}

.archive-page article {
	text-align: left;
	margin-bottom: 3rem;

	header h3 {
		margin-top: 0;
		margin-bottom: 0.5rem;

		a {
			font-family: inherit;
		}
	}
}

.error-404 form.search {
    max-width: 500px;
    margin: auto;
}